# How to use yfinance

In [1]:
import yfinance as yf

In [2]:
# Download the dataset
msft = yf.Ticker("MSFT")

# Get historical market data
hist = msft.history(start="2014-01-01", end=None)

In [3]:
# Load the dataset
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-01-02 00:00:00-05:00,31.392757,31.434785,31.182631,31.233063,30632200,0.0,0.0
2014-01-03 00:00:00-05:00,31.266678,31.283489,30.762375,31.022932,31134800,0.0,0.0
2014-01-06 00:00:00-05:00,30.972497,31.006118,30.350528,30.367338,43603700,0.0,0.0
2014-01-07 00:00:00-05:00,30.535447,30.669928,30.434585,30.602686,35802800,0.0,0.0
2014-01-08 00:00:00-05:00,30.258075,30.375744,29.905065,30.056353,59971700,0.0,0.0
...,...,...,...,...,...,...,...
2024-04-29 00:00:00-04:00,405.250000,406.320007,399.190002,402.250000,19582100,0.0,0.0
2024-04-30 00:00:00-04:00,401.489990,402.160004,389.170013,389.329987,28781400,0.0,0.0
2024-05-01 00:00:00-04:00,392.609985,401.720001,390.309998,394.940002,23562500,0.0,0.0
2024-05-02 00:00:00-04:00,397.660004,399.929993,394.649994,397.839996,17709400,0.0,0.0
2024-05-06 00:00:00-04:00,408.700012,409.420013,406.470001,408.231812,1762682,0.0,0.0

In [4]:
# show meta information about the history (requires history() to be called first)
msft.history_metadata

{'currency': 'USD',
 'symbol': 'MSFT',
 'exchangeName': 'NMS',
 'fullExchangeName': 'NasdaqGS',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 511108200,
 'regularMarketTime': 1715003606,
 'hasPrePostMarketData': True,
 'gmtoffset': -14400,
 'timezone': 'EDT',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 408.232,
 'fiftyTwoWeekHigh': 409.42,
 'fiftyTwoWeekLow': 406.47,
 'regularMarketDayHigh': 409.42,
 'regularMarketDayLow': 406.47,
 'regularMarketVolume': 1762682,
 'chartPreviousClose': 37.41,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EDT',
   'start': 1714982400,
   'end': 1715002200,
   'gmtoffset': -14400},
  'regular': {'timezone': 'EDT',
   'start': 1715002200,
   'end': 1715025600,
   'gmtoffset': -14400},
  'post': {'timezone': 'EDT',
   'start': 1715025600,
   'end': 1715040000,
   'gmtoffset': -14400}},
 'dataGranularity': '1d',
 'range': '',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [5]:
# show actions (dividends, splits, capital gains)
msft.actions
# msft.dividends
# msft.splits
# msft.capital_gains  # only for mutual funds & etfs

                           Dividends  Stock Splits
Date
2014-02-18 00:00:00-05:00       0.28           0.0
2014-05-13 00:00:00-04:00       0.28           0.0
2014-08-19 00:00:00-04:00       0.28           0.0
2014-11-18 00:00:00-05:00       0.31           0.0
2015-02-17 00:00:00-05:00       0.31           0.0
2015-05-19 00:00:00-04:00       0.31           0.0
2015-08-18 00:00:00-04:00       0.31           0.0
2015-11-17 00:00:00-05:00       0.36           0.0
2016-02-16 00:00:00-05:00       0.36           0.0
2016-05-17 00:00:00-04:00       0.36           0.0
2016-08-16 00:00:00-04:00       0.36           0.0
2016-11-15 00:00:00-05:00       0.39           0.0
2017-02-14 00:00:00-05:00       0.39           0.0
2017-05-16 00:00:00-04:00       0.39           0.0
2017-08-15 00:00:00-04:00       0.39           0.0
2017-11-15 00:00:00-05:00       0.42           0.0
2018-02-14 00:00:00-05:00       0.42           0.0
2018-05-16 00:00:00-04:00       0.42           0.0
2018-08-15 00:00:00-04:00       0.42           0.0
2018-11-14 00:00:00-05:00       0.46           0.0
2019-02-20 00:00:00-05:00       0.46           0.0
2019-05-15 00:00:00-04:00       0.46           0.0
2019-08-14 00:00:00-04:00       0.46           0.0
2019-11-20 00:00:00-05:00       0.51           0.0
2020-02-19 00:00:00-05:00       0.51           0.0
2020-05-20 00:00:00-04:00       0.51           0.0
2020-08-19 00:00:00-04:00       0.51           0.0
2020-11-18 00:00:00-05:00       0.56           0.0
2021-02-17 00:00:00-05:00       0.56           0.0
2021-05-19 00:00:00-04:00       0.56           0.0
2021-08-18 00:00:00-04:00       0.56           0.0
2021-11-17 00:00:00-05:00       0.62           0.0
2022-02-16 00:00:00-05:00       0.62           0.0
2022-05-18 00:00:00-04:00       0.62           0.0
2022-08-17 00:00:00-04:00       0.62           0.0
2022-11-16 00:00:00-05:00       0.68           0.0
2023-02-15 00:00:00-05:00       0.68           0.0
2023-05-17 00:00:00-04:00       0.68           0.0
2023-08-16 00:00:00-04:00       0.68           0.0
2023-11-15 00:00:00-05:00       0.75           0.0
2024-02-14 00:00:00-05:00       0.75           0.0

In [6]:
# show share count
msft.get_shares_full(start="2014-01-01", end=None)

2015-10-23 00:00:00-04:00    7987910000
2016-01-28 00:00:00-05:00    7909300000
2016-04-21 00:00:00-04:00    7860470000
2016-07-20 00:00:00-04:00    7808000000
2016-07-28 00:00:00-04:00    7792520000
                                ...
2024-04-26 00:00:00-04:00    7430439936
2024-04-27 00:00:00-04:00    7432309760
2024-04-30 00:00:00-04:00    7432309760
2024-05-01 00:00:00-04:00    7432309760
2024-05-01 00:00:00-04:00    7678949888
Length: 426, dtype: int64

In [7]:
# show financials:
# - income statement
msft.income_stmt
# msft.quarterly_income_stmt
# - balance sheet
# msft.balance_sheet
# msft.quarterly_balance_sheet
# - cash flow statement
# msft.cashflow
# msft.quarterly_cashflow
# see `Ticker.get_income_stmt()` for more options

,2023-06-30,2022-06-30,2021-06-30,2020-06-30
Tax Effect Of Unusual Items,-2850000.0,43420000.0,180160797.164637,4760000.0
Tax Rate For Calcs,0.19,0.13,0.138266,0.17
Normalized EBITDA,105155000000.0,99905000000.0,83831000000.0,68395000000.0
Total Unusual Items,-15000000.0,334000000.0,1303000000.0,28000000.0
Total Unusual Items Excluding Goodwill,-15000000.0,334000000.0,1303000000.0,28000000.0
Net Income From Continuing Operation Net Minority Interest,72361000000.0,72738000000.0,61271000000.0,44281000000.0
Reconciled Depreciation,13861000000.0,14460000000.0,11686000000.0,12796000000.0
Reconciled Cost Of Revenue,65863000000.0,62650000000.0,52232000000.0,46078000000.0
EBITDA,105140000000.0,100239000000.0,85134000000.0,68423000000.0
EBIT,91279000000.0,85779000000.0,73448000000.0,55627000000.0
Net Interest Income,1026000000.0,31000000.0,-215000000.0,89000000.0
Interest Expense,1968000000.0,2063000000.0,2346000000.0,2591000000.0
Interest Income,2994000000.0,2094000000.0,2131000000.0,2680000000.0
Normalized Income,72373150000.0,72447420000.0,60148160797.164635,44257760000.0
Net Income From Continuing And Discontinued Operation,72361000000.0,72738000000.0,61271000000.0,44281000000.0
Total Expenses,123392000000.0,114887000000.0,98172000000.0,90056000000.0
Total Operating Income As Reported,88523000000.0,83383000000.0,69916000000.0,52959000000.0
Diluted Average Shares,7472000000.0,7540000000.0,7608000000.0,7683000000.0
Basic Average Shares,7446000000.0,7496000000.0,7547000000.0,7610000000.0
Diluted EPS,9.68,9.65,8.05,5.76
Basic EPS,9.72,9.7,8.12,5.82
Diluted NI Availto Com Stockholders,72361000000.0,72738000000.0,61271000000.0,44281000000.0
Net Income Common Stockholders,72361000000.0,72738000000.0,61271000000.0,44281000000.0
Net Income,72361000000.0,72738000000.0,61271000000.0,44281000000.0
Net Income Including Noncontrolling Interests,72361000000.0,72738000000.0,61271000000.0,44281000000.0
Net Income Continuous Operations,72361000000.0,72738000000.0,61271000000.0,44281000000.0
Tax Provision,16950000000.0,10978000000.0,9831000000.0,8755000000.0
Pretax Income,89311000000.0,83716000000.0,71102000000.0,53036000000.0
Other Income Expense,-238000000.0,302000000.0,1401000000.0,-12000000.0
Other Non Operating Income Expenses,-223000000.0,-32000000.0,98000000.0,-40000000.0
Special Income Charges,-30000000.0,-101000000.0,-13000000.0,-133000000.0
Write Off,30000000.0,101000000.0,13000000.0,133000000.0
Gain On Sale Of Security,15000000.0,435000000.0,1316000000.0,161000000.0
Net Non Operating Interest Income Expense,1026000000.0,31000000.0,-215000000.0,89000000.0
Interest Expense Non Operating,1968000000.0,2063000000.0,2346000000.0,2591000000.0
Interest Income Non Operating,2994000000.0,2094000000.0,2131000000.0,2680000000.0
Operating Income,88523000000.0,83383000000.0,69916000000.0,52959000000.0
Operating Expense,57529000000.0,52237000000.0,45940000000.0,43978000000.0
Research And Development,27195000000.0,24512000000.0,20716000000.0,19269000000.0
Selling General And Administration,30334000000.0,27725000000.0,25224000000.0,24709000000.0
Selling And Marketing Expense,22759000000.0,21825000000.0,20117000000.0,19598000000.0
General And Administrative Expense,7575000000.0,5900000000.0,5107000000.0,5111000000.0
Other Gand A,7575000000.0,5900000000.0,5107000000.0,5111000000.0
Gross Profit,146052000000.0,135620000000.0,115856000000.0,96937000000.0
Cost Of Revenue,65863000000.0,62650000000.0,52232000000.0,46078000000.0
Total Revenue,211915000000.0,198270000000.0,168088000000.0,143015000000.0
Operating Revenue,211915000000.0,198270000000.0,168088000000.0,143015000000.0

In [8]:
# show holders
msft.major_holders
msft.institutional_holders
msft.mutualfund_holders
msft.insider_transactions
msft.insider_purchases
msft.insider_roster_holders

,Name,Position,URL,Most Recent Transaction,Latest Transaction Date,Shares Owned Directly,Position Direct Date
0,ALTHOFF JUDSON,Officer,,Sale,2024-03-11,129949,2024-03-11
1,HOGAN KATHLEEN T,Officer,,Sale,2024-03-11,159764,2024-03-11
2,JOHNSTON HUGH F.,Director,,Stock Award(Grant),2024-01-31,7818,2024-01-31
3,LIST-STOLL TERI L.,Director,,Stock Award(Grant),2024-01-31,1848,2024-01-31
4,MASON MARK,Director,,Stock Award(Grant),2024-01-31,576,2024-01-31
5,NADELLA SATYA,Chief Executive Officer,,Sale,2024-03-01,801331,2024-03-01
6,SCHARF CHARLES W,Director,,Stock Award(Grant),2024-01-31,44318,2024-01-31
7,SMITH BRADFORD LEE,President,,Sale,2024-02-05,570826,2024-02-05
8,STANTON JOHN W.,Director,,Stock Award(Grant),2024-01-31,85049,2024-01-31
9,WALMSLEY EMMA NATASHA,Director,,Stock Award(Grant),2024-01-31,9914,2024-01-31

In [9]:
# show recommendations
msft.recommendations
# msft.recommendations_summary
# msft.upgrades_downgrades

  period  strongBuy  buy  hold  sell  strongSell
0     0m         14   13     6     0           1
1    -1m         23   31     3     0           0
2    -2m         21   30     4     0           0
3    -3m         20   27     6     0           0

In [10]:
# Show future and historic earnings dates, returns at most next 4 quarters and last 8 quarters by default. 
# Note: If more are needed use msft.get_earnings_dates(limit=XX) with increased limit argument.
msft.earnings_dates

                           EPS Estimate  Reported EPS  Surprise(%)
Earnings Date
2025-04-23 16:00:00-04:00           NaN           NaN          NaN
2025-01-28 16:00:00-05:00           NaN           NaN          NaN
2024-12-06 11:00:00-05:00           NaN           NaN          NaN
2024-10-22 06:00:00-04:00           NaN           NaN          NaN
2024-07-23 06:00:00-04:00          2.93           NaN          NaN
2024-05-29 13:00:00-04:00           NaN           NaN          NaN
2024-05-21 08:00:00-04:00           NaN           NaN          NaN
2024-04-25 16:00:00-04:00          2.82          2.94       0.0433
2024-03-06 18:00:00-05:00          2.78          2.93       0.0540
2024-01-30 16:00:00-05:00          2.78          2.93       0.0534
2023-10-24 16:00:00-04:00          2.65          2.99       0.1270
2023-07-25 16:00:00-04:00          2.55          2.69       0.0549

In [11]:
# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

'-'

In [12]:
# show options expirations
# msft.options

# show news
msft.news

# get option chain for specific expiration
# opt = msft.option_chain('2024-04-26')
# data available via: opt.calls, opt.puts

[{'uuid': '4eb22317-e983-34ba-889e-ab3b3d8bc7ab',
  'title': 'AI Stocks: Will Vector Search Ignite The Enterprise Chatbot Market?',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/4eb22317-e983-34ba-889e-ab3b3d8bc7ab/ai-stocks%3A-will-vector-search.html',
  'providerPublishTime': 1714996812,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/_6hF5QwoPidJN8yFpyvuQA--~B/aD01NjM7dz0xMDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/439d9ac65d80ed65e86805d467612512',
     'width': 1000,
     'height': 563,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/hwip3KdD5hkAAml9HKwONw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/439d9ac65d80ed65e86805d467612512',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AMZN', 'MSFT', 'GOOG']},
 {'uuid': 'f88aa877-4ec6-3d00-bffe-0084cd5dc7f0',
  'title': "Instead of Buying Nvidia Stock, I'm Buying This AI ETF Hand Over Fist",
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/f88aa877-4ec6-3d00-bffe-0084cd5dc7f0/instead-of-buying-nvidia.html',
  'providerPublishTime': 1714994460,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/Bp.ULdkGvfrMa2s1xLe7Qg--~B/aD02ODc7dz0xMTk5O2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/1374ceed2c8638a3d35a9589d4f5a93f',
     'width': 1199,
     'height': 687,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/PUtNdRyHUXNdO9e2DOQ_jA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/1374ceed2c8638a3d35a9589d4f5a93f',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['NVDA', 'MSFT', 'ADBE', 'GOOG']},
 {'uuid': 'b739e88b-5146-371a-a23e-6d8276873bd9',
  'title': 'Melius Research Adjusts Price Target on Microsoft to $490 From $475',
  'publisher': 'MT Newswires',
  'link': 'https://finance.yahoo.com/news/melius-research-adjusts-price-target-112025217.html',
  'providerPublishTime': 1714994425,
  'type': 'STORY',
  'relatedTickers': ['MSFT']},
 {'uuid': '8cc09232-4599-36ac-bd34-ebad5fb5e65d',
  'title': '1 Wall Street Analyst Thinks Nvidia Stock Will Plunge 28%. Is He Right?',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/8cc09232-4599-36ac-bd34-ebad5fb5e65d/1-wall-street-analyst-thinks.html',
  'providerPublishTime': 1714989000,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/DGD2719zmiVos.rQuR_AtA--~B/aD0xMjAwO3c9MjAwMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/bbd86f9f073937c71d9251545b46d138',
     'width': 2000,
     'height': 1200,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/wGADx0a40_43VngcToDAMw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/bbd86f9f073937c71d9251545b46d138',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['NVDA', 'MSFT', 'GOOG', 'AMZN', 'AMD', 'META']},
 {'uuid': '2d799342-62e6-3bae-a47e-aa5a7c09391c',
  'title': "When You Look Back in 5 Years, You'll Wish You'd Bought This $3 Trillion Artificial Intelligence (AI) Stock",
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/2d799342-62e6-3bae-a47e-aa5a7c09391c/when-you-look-back-in-5.html',
  'providerPublishTime': 1714972320,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/MyQ0dSg9DP6lXnD8tKMnOQ--~B/aD03ODc7dz0xNDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/a1c58b0e5b0a179d7ef95c22f88bde06',
     'width': 1400,
     'height': 787,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/CoLaBXZei8kKPyN.XYnUoQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/a1c58b0e5b0a179d7ef95c22f88bde06',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': '4108b422-e7a0-3836-8552-e635a0e423c2',
  'title': 'This Week in AI: Generative AI and the problem of compensating creators',
  'publisher': 'TechCrunch',
  'link': 'https://finance.yahoo.com/m/4108b422-e7a0-3836-8552-e635a0e423c2/this-week-in-ai%3A-generative.html',
  'providerPublishTime': 1714945106,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/gpUxcPYLp_pZrpaS6zz_7w--~B/aD05Mzg7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/techcrunch_for_finance_733/1949731593f65e3d74121bc267142ab4',
     'width': 1280,
     'height': 938,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/0NrG5KFcxvmFrReXuZSjEQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/techcrunch_for_finance_733/1949731593f65e3d74121bc267142ab4',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': '5dc5a779-1396-39f1-94bd-62e173d81f42',
  'title': "Here's Why We Think Microsoft (NASDAQ:MSFT) Might Deserve Your Attention Today",
  'publisher': 'Simply Wall St.',
  'link': 'https://finance.yahoo.com/news/heres-why-think-microsoft-nasdaq-130119438.html',
  'providerPublishTime': 1714914079,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/eFZZVJx6QdqQsl5Qimg4Rw--~B/aD00MzI7dz0xMTk0O2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/simply_wall_st__316/a5d5a89dd6ab73bc7694c99b9023ec2d',
     'width': 1194,
     'height': 432,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/5Fy.yFFq_J2cr_4EvCbCFw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/simply_wall_st__316/a5d5a89dd6ab73bc7694c99b9023ec2d',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': '09ba341c-e558-401b-8cc9-b76ff863aebd',
  'title': "The ending of Google's monopoly trial has Silicon Valley on edge",
  'publisher': 'Yahoo Finance',
  'link': 'https://finance.yahoo.com/news/the-ending-of-googles-monopoly-trial-has-silicon-valley-on-edge-113835464.html',
  'providerPublishTime': 1714909115,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/Xa3bFC8WknuPI7EejvcuVw--~B/aD0zNDk3O3c9NTI0NjthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2024-05/abf146f0-08af-11ef-bfda-3f54b732c92e',
     'width': 5246,
     'height': 3497,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/84R9Qpcbsnp1GvzGm91Pfw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2024-05/abf146f0-08af-11ef-bfda-3f54b732c92e',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['GOOG',
   'TMUS',
   'MSI',
   'MSFT',
   'META',
   'AAPL',
   'T',
   'T-PA',
   'VZ',
   'AMZN']}]